body {
  margin: 0;
  font-family: 'Roboto';
  background-color: #ececec;
}

.avatar-question {
  height: 150px;
  width: 150px;
  margin-right: 40px;
}

.score-img {
  width: 40%;
  margin-bottom: 20px;
}

.button-progress {
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12;
  margin-left: -12;
}
