body {
  margin: 0;
  font-family: 'Roboto';
  background-color: #ececec;
}

.select-box {
  min-width: 270px;
  height: 70px;
  margin-top: 30px;
}

.select-box > div[role='button'] {
  padding: 10px 20px;
}

.avatar-question {
  height: 150px;
  width: 150px;
  margin-right: 40px;
}

.score-img {
  width: 40%;
  margin-bottom: 20px;
}
