body {
  margin: 0;
  font-family: 'Roboto';
  background-color: #ececec;
}

.select-box {
  min-width: 270px;
  height: 70px;
  margin-top: 30px;
}
.select-box > div[role='button'] {
  padding: 10px 20px;
}

.login-avatar {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}
